<h3 class="subheader">Edit Business</h3>
<form [formGroup]="editBusinessForm" novalidate>
  <div class="grid-container">
    <h5 class="subheader">About Business</h5>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Name
          <input type="text" placeholder="john doe" name="name" [formControl]="editBusinessForm.controls['name']">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Years in Business
          <input type="number" name="years_in_business" [formControl]="editBusinessForm.controls['years_in_business']">
        </label>

      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Description
          <textarea id="" cols="15" rows="10" placeholder="about business" class="description" name="description" [formControl]="editBusinessForm.controls['description']"></textarea>
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Category
          <select name="category" #cat>
            <option  *ngFor="let category of categories | async" [ngValue]="category">{{category?.name}}</option>
          </select>
        </label>
      </div>
    </div>

    <h5 class="subheader">Contact Info</h5>

    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Email
          <input type="email" placeholder="@domain.com" name="email" [formControl]="editBusinessForm.controls['email']">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Phone
          <input type="text" placeholder="1 888-888-8888" name="phone" [formControl]="editBusinessForm.controls['phone']">
        </label>
      </div>
    </div>

    <h5 class="subheader">Address</h5>

    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Street
          <input type="text" placeholder="123 first st" name="street" [formControl]="editBusinessForm.controls['street_address']">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>City
          <input type="text" placeholder="Brooklyn" name="city" [formControl]="editBusinessForm.controls['city']">
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>State
          <input type="text" placeholder="New York" name="state" [formControl]="editBusinessForm.controls['state']">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Zip Code
          <input type="text" placeholder="12345" name="zipcode" [formControl]="editBusinessForm.controls['zipcode']">
        </label>
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell large-6 large-offset-5">
      <button class="button button-primary" [disabled]="!editBusinessForm.valid" (click)="editBusiness(editBusinessForm.value, cat)">Save</button>
      <button class="button secondary ml-1" (click)="cancelAdd()">Cancel</button>
    </div>
  </div>



</form>
