<div class="grid-container">
  <h1 class="subheader">Business Listing</h1>
  <h5 class="subheader"><em>A business listing / contacts app using  Angular and Firebase, a remote NoSQL database </em></h5>
  <h4 class="subheader">Features</h4>
  <ul>
    <li>View Business</li>
    <li>Add Business</li>
    <li>Edit Business</li>
    <li>Delete Business</li>
    <li>Filter Results</li>
    <li>internationalization (english/spanish)</li>
  </ul>
  <h4 class="subheader">Technologies / Libraries</h4>
  <ul>
    <li>Angular 5</li>
    <li>Rxjs</li>
    <li>Foundation css</li>
    <li>animate.css</li>
    <li>ngx-translate</li>
  </ul>
</div>
