<button class="button mt-1" (click)="closeView()">CLOSE</button>

<div class="grid-x">
  <div class="large-6">
    <h3 class="subheader">Company: {{business?.name}}</h3>
    <p><span>Category: </span>{{business?.category}}</p>
    <p><span>Years In Business: </span>{{business?.years_in_business}}</p>
    <p class="lead">{{business?.description}}</p>
  </div>
  <div class="large-6">
    <h3 class="subheader">Contact Info</h3>
    <ul>
      <li><span>Phone: </span>{{business?.phone}}</li>
      <li><span>Email: </span>{{business?.email}}</li>
      <li><span>Street: </span>{{business?.street_address}}</li>
      <li><span>City: </span>{{business?.city}}</li>
      <li><span>State: </span>{{business?.state}}</li>
      <li><span>Zipcode: </span>{{business?.zipcode}}</li>
    </ul>
  </div>
</div>

