<!--start about callout-->
<div class="primary callout animated about-callout slideInDown" *ngIf="showAbout">
  <app-about></app-about>
  <button class="close-button" aria-label="Dismiss alert" type="button" (click)="showAbout = false;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--end about callout-->


<div class="grid-container">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text app-logo"><i class="material-icons">contacts</i>BusinessContacts</li>
      </ul>
    </div>
    <div class="top-bar-right">

      <a  class="hollow button h4 mt-1" (click)="showAbout =  !showAbout;">About</a>
    </div>
  </div>

  <div class="notification" *ngIf="notification?.shown">
    <span class="label animated slideInRight" ngClass="{{notification?.css_class}}"><i class="fi-x"></i> {{notification?.message}}</span>
  </div>
<div class="top-pane grid-x animated slideInDown" *ngIf="openPane">
  <div class="cell large-12">
    <ng-container [ngSwitch]="mode">
      <div *ngSwitchCase="modes.VIEW">
        <app-view-business [business]="selectedBusiness" (actionEvent)="onActionEvent($event)"></app-view-business>
      </div>
      <div *ngSwitchCase="modes.EDIT">
        <app-edit-business [business]="selectedBusiness" (actionEvent)="onActionEvent($event)"></app-edit-business>
      </div>
      <div *ngSwitchCase="modes.DELETE">
        <app-confirm-delete [business]="selectedBusiness" (actionEvent)="onActionEvent($event)"></app-confirm-delete>
      </div>
      <div *ngSwitchCase="modes.ADD">
        <app-add-business (actionEvent)="onActionEvent($event)"></app-add-business>
      </div>
    </ng-container>
  </div>
</div>
  <div class="grid-x mt-2">
    <button class="hollow button mt-1 cell large-4 " (click)="openTopPane(modes.ADD)"  [disabled]="openPane && mode != modes.ADD">ADD BUSINESS</button>
    <label class="cell large-4 large-offset-4 mt-1">
      <select name="category" #cat (change)="filterBusiness(cat.value)">
        <optgroup label="Categories">

        <option value="all">All</option>
        <option  *ngFor="let category of categories | async" [ngValue]="category">{{category?.name}}</option>
        </optgroup>
      </select>
    </label>
  </div>
<div class="grid-x">
  <div class="cell large-12">
    <div>
      <app-loader [showLoader]="loading"></app-loader>
      <table>
        <thead>
        <tr>
          <th>Company</th>
          <th>Category</th>
          <th>Phone</th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngIf="businesses && businesses?.length < 1">
        <tr>
          <td></td>
          <td> No Results</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
        <tbody  *ngIf="businesses">
        <tr *ngFor="let business of businesses">
          <td>{{business.name}}</td>
          <td>{{business.category}}</td>
          <td>{{business.phone}}</td>
          <td>
            <button class="hollow button" (click)="openTopPane(modes.VIEW, business)" [disabled]="openPane && mode != modes.VIEW">More</button>
            <button class="hollow button secondary" (click)="openTopPane(modes.EDIT, business)" [disabled]="openPane && mode != modes.EDIT">Edit</button>
            <button class="hollow button alert" (click)="openTopPane(modes.DELETE, business)" [disabled]="openPane && mode != modes.DELETE">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
