.app-logo {
  font-size: 26px;
}
.app-logo i.material-icons {

    vertical-align: middle;
    margin-right: 5px;
    font-size: 40px;

}
.grid-container .notification {
  float: right;
}


.grid-container .notification span.label{
  text-align: center;
  width: 200px;
}

 .about-callout {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}




