<div class="grid-container" style="text-align: center">

<h3 class="subheader">Confirm Delete</h3>
<p>you are about to delete <b>{{business?.name}}</b> are you sure?</p>
  <div class="grid-x grid-padding-x align-center mt-1">
    <button class="button alert cell small-2" (click)="deleteBusiness()">Delete</button>
    <button class="button secondary cell small-2 ml-1" (click)="cancelDelete()">Cancel</button>
  </div>
</div>




