/* You can add global styles to this file, and also import other style files */
.mt-1 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 40px;
}

.ml-1 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 20px;
}

.ml-1 {
  margin-left: 40px;
}

.mr-2 {
  margin-right: 40px;
}

textarea.description {
  height: 100px;

}


body {
  background-color: #262626;

}
.top-bar, select, table, thead, tbody, input, textarea, select optgroup option {
  border: 1px solid #1779ba !important;
  color: #1779ba !important;
  background-color: transparent !important;
}

.top-bar ul {
  background-color: transparent;
}

table tbody tr:nth-child(even), table thead {
  border-bottom: 0;
  background-color: #000 !important;
  opacity: 0.4;
}



 .label.success {
  border: 1px solid #3adb76;
  background-color: transparent;
  color: #3adb76;
}

 .label.warning {
  border: 1px solid #ffae00 !important;
  background-color: transparent !important;
  color: #ffae00 !important;
}

.label.alert {
  border: 1px solid #cc4b37 !important;
  background-color: transparent !important;
  color: #cc4b37 !important;
}
